@keyframes vibrate {
    0% {
      transform: translate(0);
    }
    25% {
      transform: translate(-3px, -3px);
    }
    50% {
      transform: translate(3px, 3px);
    }
    75% {
      transform: translate(-3px, -3px);
    }
    100% {
      transform: translate(0);
    }
  }
  
  .vibratingImage {
    animation: vibrate 0.5s ease-in-out;
  }

  @keyframes slideUpAndFadeIn {
    0% {
      opacity: 0;
      top: 40%;
    }
    100% {
      opacity: 1;
      top: 27%;
    }
  }
  
  .animated-image {
    animation: slideUpAndFadeIn 0.3s ease-in-out;
  }