@keyframes vibrate {
    0% {
      transform: translate(0);
    }
    25% {
      transform: translate(-3px, -3px);
    }
    50% {
      transform: translate(3px, 3px);
    }
    75% {
      transform: translate(-3px, -3px);
    }
    100% {
      transform: translate(0);
    }
  }
  
  .vibratingImage {
    animation: vibrate 0.2s ease-in-out;
  }