@keyframes vibrate {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(3deg);
    }
    50% {
      transform: rotate(-3deg);
    }
    75% {
      transform: rotate(3deg);
    }
    100% {
      transform: translate(0);
    }
  }
  
  .vibratingImage {
    animation: vibrate 0.5s ease-in-out;
  }

  @keyframes slideUpAndFadeIn {
    0% {
      opacity: 0;
      top: 40%;
    }
    100% {
      opacity: 1;
      top: 27%;
    }
  }
  
  .animated-image {
    animation: slideUpAndFadeIn 0.3s ease-in-out;
  }

  
  @keyframes scaleAnimation {
    0%, 100% {
      transform: scale(1,1.5);
      /* transform: rotate(0deg); */

    }
    50% {
      transform: scale(1.5,1);
      /* transform: rotate(-39deg); */


    }
  }
  
  .animatedText {
    animation: scaleAnimation 2s infinite;
  }
   
.Confetti_class{
  position: fixed!important;
}