---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<main>
  <Layout title="Farith Te Invita :)">
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
    </ul>
  </Layout>
</main>
