---
import Layout from "../layouts/Layout.astro";
import TypingAnimation from "../components/TypingComputer";
---

<Layout title="Farith Te Invita :)">
  <main class="flex flex-col justify-around items-center lg:px-48">
    <TypingAnimation
      client:visible
      text="Hola Guardian! El comando estelar te necesita para una mision muy especial..."
      duration={180}
      loop={false}
    />
    <button
      class="text-white bg-purple-500 rounded-xl w-max px-6 py-2"
      style={{ boxShadow: "2px 5px 25px 5px rgba(255, 0, 130, 0.5)" }}
    >
      <a href="/home" class="text-3xl">¡VAMOS! 🚀</a>
    </button>
  </main>
</Layout>

<style is:inline>
  main {
    height: 100vh;
  }
</style>
