---
import Layout from "../layouts/Layout.astro";
import TypingAnimation from "../components/TypingComputer";
---

<Layout title="Farith Te Invita :)">
  <main class="flex flex-col justify-around items-center lg:px-48">
   <h1>
     Invitación de dinosaurios...
    </h1>
  </main>
</Layout>

<style is:inline>
  main {
    height: 100vh;
    color: #ffff;
  }
</style>
