---
import Eggs from "../components/Eggs/index";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex flex-col items-center lg:px-[30rem]">
    <Eggs client:load />
  </main>
</Layout>

<style is:inline>
  main {
    height: 100vh;
    color: #ffff;
  }
</style>
