---
import Layout from "../layouts/Layout.astro";
import TypingAnimation from "../components/TypingComputer";
---

<Layout title="Farith Te Invita :)">
  <main class="flex flex-col justify-around items-center lg:px-48">
    <TypingAnimation
      client:load
      text="¡Hola Guardián! El comado estelar te necesita para una misión muy especial..."
      duration={150}
      loop={false}
    />
    <button class="text-white bg-purple-500 rounded-xl w-max px-4 py-2">
      <a href="/home">¡VAMOS! 🚀</a>
    </button>
  </main>
</Layout>

<style>
  main {
    height: 100vh;
  }
</style>
