---
import WhatsApp from "../assets/icons/whatsapp.png";
import Dino1 from "../assets/dinos/dinosentado2.svg";
---

<section class="relative mt-20 flex flex-col items-center bg-[#FFFEA8] py-5">
  <label class="text-3xl text-yellowGreen">¿Están list@s para la fiesta?</label>
  <p class="m-8 flower text-xl">
    Confirma tu asistencia lo antes posible... ⏳
    <br />
    <br />
    Esta invitación es para ti y un acompañante.
    <br />
    <br />
    Si eres un (una) Dino-Compañer@ del colegio puedes llevar a 2 acompañantes. 🥳
  </p>
  <img
    alt="dino1"
    src={Dino1}
    class="lg:hidden absolute w-[163px] top-[42%] left-[38%] z-10 animate-bounce animate-infinite animate-duration-[1000ms] animate-ease-in"
  />
  <a
    href="https://api.whatsapp.com/send/?phone=527202046799&text=Hola%2C+nos+encantar%C3%ADa+asistir+a+la+fiesta+de+Farith.+Somos..."
    target="_blank"
    class="bg-yellowGreen p-6 rounded-xl flex justify-center items-center text-midnight hover:scale-125 shadow-2xl mt-24 text-lg"
  >
    Confirmar asistencia
    <img alt="whatsapp" src={WhatsApp} class="w-5 ml-1" />
  </a>
  <a
    class="text-xs mt-5 bg-babyBlue p-3 rounded-xl flex justify-center items-center text-midnight shadow-xl"
    href="https://api.whatsapp.com/send/?phone=527202046799&text=Hola%2C%20no%20podremos%20asistir%20a%20la%20fiesta%20☹️"
    target="_blank"
  >
    Lo lamento, no podré asistir <img
      alt="whatsapp"
      src={WhatsApp}
      class="w-5 ml-1"
    />
  </a>
  <i class="text-xs mt-14">
    P.D. Si necesitas más pases para algún herman@, favor de hacerlo saber en el
    mensaje de confirmación para verificar disponibilidad.
  </i>
</section>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
  .flower {
    font-family: "Indie Flower", cursive;
  }
</style>
