<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Rampart+One&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Farith Te Invita 🦕</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    font-family: "Paytone One", sans-serif;
    /* font-family: "Rampart One", cursive; */
    background-image: radial-gradient(
      circle at 50% 50%,
      #d0edb6 0,
      #c9efba 12.5%,
      #c2f0bf 25%,
      #bcf1c4 37.5%,
      #b5f2c9 50%,
      #aff3cf 62.5%,
      #a8f3d5 75%,
      #a3f4db 87.5%,
      #9df4e1 100%
    );
  }
  html {
    height: 100%;
  }
  body {
  }
  main {
    margin: auto;
    padding: 1rem;
  }

  @media (max-width: 1023px) {
  }

  @media (min-width: 1024px) {
    body {
      /* margin: 30rem; */
    }
  }
</style>
