<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="generator" content={Astro.generator} />
    <title>Farith Te Invita 🦕</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="/dinosentado1.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Rampart+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    font-family: "Paytone One", sans-serif;
    /* font-family: "Rampart One", cursive; */
    background-color: #fffff5;
  }
  html {
    height: 100%;
    width: 100%;
  }
  body {
  }
  main {
    margin: auto;
    /* padding: 1rem; */
  }

  @media (max-width: 1023px) {
  }

  @media (min-width: 1024px) {
    body {
      /* margin: 30rem; */
    }
  }
</style>
